# Project specific paths
out
stage
dist
node_modules
src/source/roku_modules
src/components/roku_modules
.roku-deploy-staging
.env
./dist/tests.xml
coverage.lcov
debug.log
*.zip
*.tgz
package

# IDE specific
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/sample.settings.json
.claude/*

# OS specific paths
__MACOSX
.DS_Store

